header {
    background-image: url('/home/nancy/Desktop/CSS_PRAC/alx_assign/images/logo.png');
    background-position: 20px 50%;
    background-repeat: no-repeat;
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}
